<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">lastname</th>
            <th scope="col">age</th>
            <th scope="col">email</th>
            <th scope="col">avatar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>guram</td>
            <td>jibladze</td>
            <td>29</td>
            <td>guramijibladze@gmail.com</td>
            <td>Otto</td>
          </tr>
        </tbody>
    </table>
</div>

