<div class="modal-body" [formGroup]="form">
    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label">name:</label>
      <div class="col-sm-10">
        <input  class="form-control" formControlName="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label">lastname:</label>
      <div class="col-sm-10">
        <input  class="form-control" formControlName="lastName">
      </div>
    </div>
    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label" >age:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="age">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" >email:</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="email">
      </div>
    </div>
  </div>
