<div class="users-panel">
    <nav class="navbar navbar-light">
        <form class="container ">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </form>
    </nav>

    <div class="container text-center mt-5">
      <div class=" btn-group">
        <button class="btn btn-secondary " 
                [class.active]="isActive('btn1')"
                (click)="setActive('btn1')">all users</button>
        <button class="btn btn-secondary" 
                [class.active]="isActive('btn2')"
                (click)="setActive('btn2')">users until age 30</button>
        <button class="btn btn-secondary" 
                [class.active]="isActive('btn3')"
                (click)="setActive('btn3')">users after age 30</button>
      </div>
    </div>
    
    <app-user-table [allUsers] = "allUsers$ | async"
                    (usersListUpdate)="setActive(activeButton)"></app-user-table>
</div>

